<button id="cscsoporthozzaad" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cslistahozzaad">Hozzáadás</button>
<ul id="csengetesilista1" style="list-style-type: none;"></ul>