﻿#dallamtorol.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |             
          .modal-body
            h4 Biztosan t&ouml;r&ouml;lni akar?
            |                 
            input(id='tazon',type='hidden',value='tazon', name='tazon')
          |             
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Elvet&eacute;s
            |                 
            button.btn.btn-primary(id='torlesdallam',type='button') T&ouml;rl&eacute;s
#bs-example-modal-t.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button(class='close', type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |                 
            h4#exampleModalLabel.modal-title
          |             
          .modal-body
            h4#mess
          |             
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Bez&aacute;r&aacute;s
#dallamfelvitel.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button(class='close', type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |                 
            h4#exampleModalLabel.modal-title
          |             
          .modal-body
            div(class='panel panel-primary')
               div(class='panel-heading')
                h3( class="panel-title")= subtitle
               div(class='panel-body')
                form(action=action,method='post',class='form-horizontal',id='commentForm', enctype='multipart/form-data')
                 input(type='hidden',value=azon,name='azon')
                 fieldset
                  div(class='form-group')
                   label(for='megnevezes', class='col-lg-2 control-label') Feltöltés:
                   div(class='col-lg-10')
                     input(id='utvonal',type='file',value=utvonal,name='utvonal',class='form-control',required)
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Elvet&eacute;s
            |                 
            button.btn.btn-primary(id='dallamkuldes',type='button') Feltöltés
#cslistahozzaad.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Csoportnév hozzáadás
            |         
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |       
          .modal-body
            | 
            form(action=action,method='post',class='form-horizontal',name='cslistaaddForm',id='cslistaaddForm')
             fieldset
              div(class='form-group')
               label(for='nev', class='col-lg-3 control-label') Csoport:
               div(class='col-lg-9')
                input(id='nev',type='text',value=nev,name='nev',class='form-control',required)
          |       
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Bezárás
            |         
            button.btn.btn-primary(id='cslistahozzaadas',type='button') Mentés
#cslistajavit.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Csoportnév hozzáadás
            |         
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |       
          .modal-body
            | 
            form(action=action,method='post',class='form-horizontal',name='cslistajavitForm',id='cslistajavitForm')
             input(id='azon',type='hidden',value=azon,name='azon')
             fieldset
              div(class='form-group')
               label(for='nevj', class='col-lg-3 control-label') Csoport:
               div(class='col-lg-9')
                input(id='nevj',type='text',value=nevj,name='nevj',class='form-control',required)
          |       
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Bezárás
            |         
            button.btn.btn-primary(id='cslistajavitas',type='button') Mentés
#cslistatorol.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |             
          .modal-body
            h4 Biztosan t&ouml;r&ouml;lni akar?
            |                 
            input(id='tazon',type='hidden',value='tazon', name='tazon')
          |             
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Elvet&eacute;s
            |                 
            button.btn.btn-primary(id='torles',type='button') T&ouml;rl&eacute;s
#csrendhozzaad.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Csenegetési időpont hozzáadás
            |         
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |       
          .modal-body
            | 
            form(action=action,method='post',class='form-horizontal',name='csrendaddform',id='csrendaddform')
             input(id='cslazon',type='hidden',name='cslazon')
             fieldset
              div(class='form-group')
               label(for='ido', class='col-lg-3 control-label') Idő(óra:perc):
               div(class='col-lg-9') 
                input(id='ido',type='text', name='ido',class='form-control',required)
              div(class='form-group')
               label(for='megjegyzes', class='col-lg-3 control-label') Megjegyzés:
               div(class='col-lg-9')
                input(id='megjegyzes',type='text',name='megjegyzes',class='form-control',required)
          |       
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Bezárás
            |         
            button.btn.btn-primary(id='csrendhozzaadas',type='button') Mentés
#csrendjavit.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Csenegetési időpont szerkesztés
            |         
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |       
          .modal-body
            | 
            form(action=action,method='post',class='form-horizontal',name='cslistajavitForm',id='csrendjavitForm')
             input(id='jcsrazon',type='hidden',name='jcsrazon')
             fieldset
              div(class='form-group')
               label(for='jcsrido', class='col-lg-3 control-label') Idő(óra:perc):
               div(class='col-lg-9')
                input(id='jcsrido',type='text',name='jcsrido',class='form-control',required)
              div(class='form-group')
               label(for='jcsrmegjegyzes', class='col-lg-3 control-label') Megjegyzés:
               div(class='col-lg-9')
                input(id='jcsrmegjegyzes',type='text',name='jcsrmegjegyzes',class='form-control',required)
          |       
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Bezárás
            |         
            button.btn.btn-primary(id='csrendjavitas',type='button') Mentés
#tcsrtorlol.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |             
          .modal-body
            h4 Biztosan t&ouml;r&ouml;lni akar?
            |                 
            input(id='tcsrazon',type='hidden',value='tcsrazon', name='tcsrazon')
          |             
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Elvet&eacute;s
            |                 
            button.btn.btn-primary(id='tcsrtorles',type='button') T&ouml;rl&eacute;s