﻿extends layout

block content
 div(class='container') 
  br 
  h2= title
  div.mt-4.card
   div.card-header Főkapcsoló
   div.card-body
     div.card-text
     include fokapcsolo.jade
  div.mt-4.card 
   div.card-header Csengetési listák
   div.card-body
     div.card-text
     include csengetesilistak.jade
  div.mt-4.card 
   div.card-header Csengetési napok
   div.card-body
     div.card-text
     include csengetesinapok.jade
  div.mt-4.mb-4.card 
   div.card-header Dallam 
   div.card-body
     div.card-text 
     include dallamok.jade	 
 include indexmodal.jade
 