﻿doctype html
html
  head
    title Bejelentkezés
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootswatch.min.css')
    link(rel='stylesheet', href='/css/prettify.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/prettify.js')
    script(src='/js/jquery.validate.min.js')
    script(src='/js/messages_hu.js')
    script(src='/js/app.js')
  body
   div(class='container')
    -if(message.length>0){
    div(class='alert alert-danger', style='width: 400px;') #{message}
    -}
   main.login-form
    .cotainer
        .row.justify-content-center
          .col-md-8
            .card
              .card-header Bejelentkezés
              |                     
              .card-body
                form(action='/login', method='post')
                  .form-group.row
                    label.col-md-4.col-form-label.text-md-right(for='username') Felhasználónév
                    |                                 
                    .col-md-6
                      input#email_address.form-control(type='text', name='username', required='', autofocus='')
                  |                             
                  .form-group.row
                    label.col-md-4.col-form-label.text-md-right(for='password') Jelszó
                    |                                 
                    .col-md-6
                      input#password.form-control(type='password', name='password', required='')
                  |                                                          
                  .col-md-6.offset-md-4
                    button.btn.btn-primary(type='submit')
                      | Küldés
