
.header {
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 260px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.headersz {
  position: relative;
  top: 100px;
  padding-left: 40px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}