﻿extends layout

block content
 div(class='container') 
  br 
  h2= title
  p
  a(href='#',class='mt-4',data-toggle='modal', data-target='#UserAddModal') 
    i.fas.fa-user-plus(style='font-size: 20px;')
    |  Hozzáadás  
  p
  include felhasznalohtml.jade
  include felhasznalomodal.jade
 