﻿#passwordModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Jelszóváltoztatás
            |         
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |       
          .modal-body
            | 
            form(class='form-horizontal',name='passwordForm',id='passwordForm')
             input(id='pazon',type='hidden',value=pazon,name='pazon')
             fieldset      
              div(class='form-group')
               label(for='ppassword', class='col-lg-3 control-label') Jelszó:
               div(class='col-lg-8')
                input(id='ppassword',type='password',name='ppassword',class='form-control',required)
              div(class='form-group')
               label(for='ppassword1', class='col-lg-3 control-label') Jelszó újra:
               div(class='col-lg-8')
                input(id='ppassword1',type='password',name='ppassword1',class='form-control', equalTo="#ppassword",required)
          |       
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Bezárás
            |         
            button.btn.btn-primary(id='passwordWrite',type='button') Mentés
#UserModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Adatmódosítás
            |         
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |       
          .modal-body
            | 
            form(action=action,method='post',class='form-horizontal',name='userForm',id='userForm')
             input(id='azon',type='hidden',value=azon,name='azon')
             fieldset
              div(class='form-group')
               label(for='email', class='col-lg-3 control-label') Email:
               div(class='col-lg-9')
                input(id='email',type='email',value=email,name='email',class='form-control',required)
              div(class='form-group')
               label(for='fullname', class='col-lg-3 control-label') Teljes név:
               div(class='col-lg-9')
                input(id='fullname',type='text',value=fullname,name='fullname',class='form-control',required)
              div(class='form-group')
               label(for='username', class='col-lg-3 control-label') Felhasználónév:
               div(class='col-lg-9')
                input(id='username',type='text',value=username,name='username',class='form-control',required, readonly)
              div(class='form-group')
               label(for='roles', class='col-lg-3 control-label') Csoport:
               div(class='col-lg-9')
                select(id='roles',type='text',name='roles',class='form-control',required)
                 option(value=) ---
                 option(value=1) Felhasználó
                 option(value=2) Adminisztrátor
              div(class='form-group')
               label(for='status', class='col-lg-3 control-label') Státusz:
               div(class='col-lg-9')
                select(id='status',type='text',name='status',class='form-control',required)
                 option(value=) ---
                 option(value=1) Engedélyezve
                 option(value=2) Letiltva
          |       
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Bezárás
            |         
            button.btn.btn-primary(id='userWrite',type='button') Mentés
#UserAddModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Felhasználó hozzáadás
            |         
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |       
          .modal-body
            | 
            form(action=action,method='post',class='form-horizontal',name='useraddForm',id='useraddForm')
             fieldset
              div(class='form-group')
               label(for='aemail', class='col-lg-3 control-label') Email:
               div(class='col-lg-9')
                input(id='aemail',type='text',value=aemail,name='aemail',class='form-control',required)
              div(class='form-group')
               label(for='afullname', class='col-lg-3 control-label') Teljes név:
               div(class='col-lg-9')
                input(id='afullname',type='text',value=afullname,name='afullname',class='form-control',required)
              div(class='form-group')
               label(for='ausername', class='col-lg-3 control-label') Felhasználónév:
               div(class='col-lg-9')
                input(id='ausername',type='text',value=ausername,name='ausername',class='form-control',required)
              div(class='form-group')
               label(for='apassword', class='col-lg-3 control-label') Jelszó:
               div(class='col-lg-9')
                input(id='apassword',type='password',name='apassword',class='form-control',required)
              div(class='form-group')
               label(for='apassword1', class='col-lg-3 control-label') Jelszó újra:
               div(class='col-lg-9')
                input(id='apassword1',type='password',name='apassword1',class='form-control', equalTo="#apassword",required)
              div(class='form-group')
               label(for='aroles', class='col-lg-3 control-label') Csoport:
               div(class='col-lg-9')
                select(id='aroles',type='text',name='aroles',class='form-control',required)
                 option(value=) ---
                 option(value=1) Felhasználó
                 option(value=2) Adminisztrátor
              div(class='form-group')
               label(for='astatus', class='col-lg-3 control-label') Státusz:
               div(class='col-lg-9')
                select(id='astatus',type='text',name='astatus',class='form-control',required)
                 option(value=) ---
                 option(value=1) Engedélyezve
                 option(value=2) Letiltva
          |       
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Bezárás
            |         
            button.btn.btn-primary(id='userfullWrite',type='button') Mentés
#bs-example-modal-t.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button(class='close', type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            |                 
            h4#exampleModalLabel.modal-title
          |             
          .modal-body
            h4#mess
          |             
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Bez&aacute;r&aacute;s
#TorolModal.modal.fade.bs-example-modal-tcs(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |             
          .modal-body
            h4 Biztosan t&ouml;r&ouml;lni akar?
            |                 
            input(id='tazon',type='hidden',value='tazon', name='tazon')
          |             
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Elvet&eacute;s
            |                 
            button.btn.btn-primary(id='torles',type='button') T&ouml;rl&eacute;s