<script id="movieTemplate" type="text/x-jquery-tmpl">
<tr id="userupdateu" data-whatever="${id}">
<td style="width: 25px;">
<a href="#" data-toggle="modal" data-whatever="${id}" data-target="#UserModal">
<span class="fas fa-user-edit" aria-hidden="true"/>
</a>
</td>
<td style="width: 25px;">
<a href="#" data-toggle="modal" data-whatever="${id}" data-target="#passwordModal">
<span class="fas fa-user-lock" aria-hidden="true" />
</a>
</td>
<td style="width: 25px;">
<a href="#" data-toggle="modal" data-whatever="${id}"  data-target="#TorolModal">
<span class="fas fa-user-times" aria-hidden="true" />
</a>
</td>
<td>${fullname}</td>
<td>${username}</td>
{{if $data.roles == 1}}
<td>Felhasználó</td>
{{else}}
<td>Adminisztrátor</td>
{{/if}}>
</tr>
</script>
<table class="table table-striped jambo_table bulk_action">
<thead>
<tr class="headings">
<th style="width: 25px;"></th>
<th style="width: 25px;"></th>
<th style="width: 25px;"></th>
<th>Teljes név</th>
<th>Felhasználónév</th>
<th>Típus</th>
</tr>
</thead>
<tbody id="movieList"></tbody>
</table>