block variables
doctype html
html(lang='hu')
 head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/css/prettify.css')
    link(rel='stylesheet', href='/css/bootstrap-switch.min.css')
    link(rel='stylesheet', href='/css/fontawesome.css')
    link(rel='stylesheet', href='/css/brands.css')
    link(rel='stylesheet', href='/css/solid.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/prettify.js')
    script(src='/js/jquery.validate.min.js')
    script(src='/js/moment-with-locales.js')
    script(src='/js/messages_hu.js')
    script(src='/js/bootstrap-datetimepicker.min.js')
    script(src='/js/bootstrap-switch.min.js')
    script(src='/js/jquery.tmpl.js')
    script(src='/js/felhasznalo.js')
 body
  header(class='header')
   div(class='container')
    h1(class='headersz') Iskolacsengő 
     small V1.1
  nav.navbar.navbar-expand-lg.navbar-light.bg-light 
    div(class='container') 
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Csengetés 
              span.sr-only (current)
          |       
          li(class='nav-item dropdown')
            a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Szervíz

            div(class='dropdown-menu')
             a.dropdown-item(href='/felhasznalo') Felhasználókezelés
        |     
        span.navbar-text
          | 
          #navbarText.collapse.navbar-collapse
           ul.navbar-nav.mr-auto
            li(class='nav-item dropdown')
             a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')= 'Bejelentkezve: '+felh
             div(class='dropdown-menu')
              a(href='/logout') Kijelentkezés
  block content
  footer(class='container-fluid w-100 bg-dark text-light py-3')
    .container
        span Copyright &copy; Zoltan Domokos
